port = "8888"
dev = true
auto_bid_interval_sec = 120 #auto bid interval, unit:second

[database]
db_host = "192.168.88.188"
db_port = "3306"
db_schema_name = "sr2"
db_username = "root"
db_password = ""
db_args = "charset=utf8mb4&parseTime=True&loc=Local"
db_max_idle_conn_num = 10
